.bg-color-col1{


    background-color: #32B768;
    height: auto;
    }
    
    .bg-color-col2{
    
    
    
    
    background: #FFFFFF;
    box-shadow: -5px 4px 42px rgba(0, 0, 0, 0.05);
    border-radius: 11px;
    }
    
    .right-heading{
       
    
    
    
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    
    
    color: #303834;
    }
    
    .right-para{
        
    
    height: 25px;
    
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    
    color: #78847D;
    }
    
    .right-label{
        
    
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #18201B;
    
    
    
    
    
    }
    
    .span-bg{
        color: #7D8580;
    }
    
    .join-btn{
        
    
    
    
    
    background: #32B768;
    border-radius: 10px;
    
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    
    }
    
    .left-text-h{
        
    
    
       
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 49px;
        
        color: #FFFFFF;
    
    }
    
    .left-text-p{
    
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    
    color: #E5FBEE;
    }
    
    .right-bg{
        background: #E5E5E5;
    }
    
    .bottom-span{
    
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #78847D;
    }