<div class="container">
    <div class="row">
        <div class="col-md-12 bg-color-col1">
            <div class="offset-md-1 col-md-8 mt-5 ">
                <h1 class="row col-md-12 left-text-h">Discover More Recipies </h1>
                <h1 class=" col-md-12 left-text-h"> & More Cooks</h1>
                <p class="col-md-12 left-text-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        
                
            </div>
            <div class="offset-md-1 col-md-10 d-flex justify-content-center my-5 ">
            <img src="../../../assets/login/skaeeting.png" class="img-fluid col-md-12" alt="">
        </div>
        </div>
    </div>
</div>


