.footer-bottom{
   

height: 55px;


background: #32B768;
}

.footer-bottom-tag{
    font-family: Nunito;
font-size: 14px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0.09em;
text-align: left;
color: rgba(255, 255, 255, 1);
;
}

.footer-header{
    font-family: Nunito;
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0.09em;
    text-align: left;
    
}
footer-li{
    
    font-family: Nunito;
font-size: 14px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0.09em;
text-align: left;

}

