<div class="container ">
<footer class="row row-cols navbar-expand-lg  py-5 my-5 border-top">

    



    <div class="col-lg-3 ">
      <a href="/" class="d-flex align-items-center justify-content-center mb-3 link-dark text-decoration-none">
        <img src="../../../assets/logo/TestFood.png" alt="">
      </a>
      <ul class="nav flex-row d-flex align-items-center justify-content-center">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
          <img src="../../../assets/footer/facebook.png" alt="facebook">
        </a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
          <img src="../../../assets/footer/apple.png" alt="apple">
        </a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
          <img src="../../../assets/footer/twitter.png" alt="">
        </a></li>
        
        
      </ul>
      
    </div>

   
    <div class="col-lg-2 col-md-6 col-sm-12  ">
        <h5 class="footer-header">Section</h5>
      <ul class="nav flex-column  ">
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 ">
      <h5 class="footer-header">Section</h5>
      <ul class="nav flex-column ">
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 ">
      <h5 class="footer-header">Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12  ">
      <h5 class="footer-header">Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2 footer-li"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>
  

    
  </footer>
</div>

<div class="footer-bottom col-lg-12 d-flex align-items-center justify-content-center">
  <h1 class="footer-bottom-tag">Copyright 2022 All Right Recieved </h1>
  </div>

