.navbar{
    background-color: rgba(255, 255, 255, 0.5);
    height: 104px;
}

.link-name{
    font-family: Nunito;
font-size: 18px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0.09em;
text-align: left;

}

.register-btn{
    background-color:rgba(50, 183, 104, 1);
    height: 52px;
    width: 209px;
    border-radius: 46px;
    color: rgba(255, 255, 255, 1);

    
font-size: 18px;
font-weight: 800;
line-height: 25px;
letter-spacing: 0.09em;


  

}

