.headerPic1 {
    height: 638.6181640625px;
    width: 601px;
}

.header-first-text {
    font-family: Playfair Display;
    font-size: 64px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0.09em;
    text-align: left;

}

.para-first-text {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(113, 121, 116, 1);

}

.btn-get {
    height: 65px;
    width: 209px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    background: #32B768;

}

.btn-explore {
    height: 65px;
    width: 209px;

    border-radius: 10px;
    color: rgba(50, 183, 104, 1);
    box-sizing: border-box;



    border: 2px solid #32B768;
    border-radius: 10px;

}

.first-menu {
    background-color: rgba(255, 255, 255, 0)
}

.second-menu {
    background-color: rgba(248, 249, 251, 1);

}



.second-head-tag {
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0.09em;
    text-align: left;

}

.second-h-tag {
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0.09em;
    text-align: left;

}

.second-p-tag {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(171, 177, 173, 1);
    ;
}

.card-h-tag {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}

.card-p-tag {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(189, 188, 198, 1);

}

ngb-rating {
    color: #FAC02C;
    font-size: 28px;
}

.third-row-h-tag {
    /* Frame 91 */


    /* Auto layout */



    padding: 10px 15px;
    gap: 10px;


    width: 213px;
    height: 45px;


    background: #EEFBF3;
    border-radius: 35px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #32B768;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.man-with-plate {
    height: 559px;
    width: 585px;
}

.time-tag {
    height: 19px;
    width: 45px;

    border-radius: nullpx;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.clock {
    color: rgba(189, 188, 198, 1);
}

.btn-color {
    background-color: rgba(226, 254, 238, 1);


}

.bg-food-image {
    color: #fff;
    height: 450px;
    width: 100%;
    border-radius: 49px;
    background-image: url("../../../assets/home/rectangleFood.png");
    background-size: 100%;
    background-size: cover;
}
.bg-in-text{
    font-family: Nunito;
font-size: 48px;
font-weight: 800;
line-height: 65px;
letter-spacing: 0em;
text-align: center;

}

.bg-input{


    width: 589px;
    height: 54px;
border: 3px solid #B1B1B1;
color: rgba(177, 177, 177, 1);

}

.bg-btn{
    width: 167px;
height: 54px;
}



