<div class="container">
    <div class="row">
        <h1 class="col-md-2">Your Recipes</h1>
        <button (click)="goRecipes()" type="button" class="offset-md-7 col-md-3 btn register-btn">Add Recipes</button>
    </div>
</div>


<div class="container">
    <div class="row  mt-5 d-flex justify-content-around mt-md-5">

<div class="card col-lg-2 col-md-6 col-sm-12 mt-md-5 mt-sm-5">
    <img class="card-img-top img-fluid mt-3" src="../../../assets/home/col3.png" alt="Card image" />
    <div class="card-body">
        <h5 class="card-title card-h-tag">
            Udon with chicken and garlic peanut dressing
        </h5>
        <p class="card-text card-p-tag">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry....
        </p>
    </div>
    <hr />
    <div class="row mt-3">
        <div class="col-lg-6 d-flex float-left">
            <span class="material-symbols-outlined col-md-6 clock"> schedule </span>
            <p class="time-tag col-md-6 mt-1 d-flex float-left clock">1 Hour</p>
        </div>

        <div class="col-lg-6 d-flex float-right mb-3">
            <ngb-rating [max]="5" [(rate)]="currentRating" [readonly]="false"></ngb-rating>
        </div>
        <div class=" d-flex justify-content-center mb-2">
            <mat-chip color="accent">
                <img matChipAvatar src="../../../assets/explore/chipmanPIc.png" alt="Photo of a Shiba Inu"/>
                Published by Seron
              </mat-chip>
        </div>
    </div>
</div>
<div class="card col-lg-2 col-md-6 col-sm-12 mt-md-5 mt-sm-5">
    <img class="card-img-top img-fluid mt-3" src="../../../assets/home/col3.png" alt="Card image" />
    <div class="card-body">
        <h5 class="card-title card-h-tag">
            Udon with chicken and garlic peanut dressing
        </h5>
        <p class="card-text card-p-tag">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry....
        </p>
    </div>
    <hr />
    <div class="row mt-3">
        <div class="col-lg-6 d-flex float-left">
            <span class="material-symbols-outlined col-md-6 clock"> schedule </span>
            <p class="time-tag col-md-6 mt-1 d-flex float-left clock">1 Hour</p>
        </div>

        <div class="col-lg-6 d-flex float-right mb-3">
            <ngb-rating [max]="5" [(rate)]="currentRating" [readonly]="false"></ngb-rating>
        </div>
        <div class=" d-flex justify-content-center mb-2">
            <mat-chip color="accent">
                <img matChipAvatar src="../../../assets/explore/chipmanPIc.png" alt="Photo of a Shiba Inu"/>
                Published by Seron
              </mat-chip>
        </div>
    </div>
</div>
<div class="card col-lg-2 col-md-6 col-sm-12 mt-md-5 mt-sm-5">
    <img class="card-img-top img-fluid mt-3" src="../../../assets/home/col3.png" alt="Card image" />
    <div class="card-body">
        <h5 class="card-title card-h-tag">
            Udon with chicken and garlic peanut dressing
        </h5>
        <p class="card-text card-p-tag">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry....
        </p>
    </div>
    <hr />
    <div class="row mt-3">
        <div class="col-lg-6 d-flex float-left">
            <span class="material-symbols-outlined col-md-6 clock"> schedule </span>
            <p class="time-tag col-md-6 mt-1 d-flex float-left clock">1 Hour</p>
        </div>

        <div class="col-lg-6 d-flex float-right mb-3">
            <ngb-rating [max]="5" [(rate)]="currentRating" [readonly]="false"></ngb-rating>
        </div>
        <div class=" d-flex justify-content-center mb-2">
            <mat-chip color="accent">
                <img matChipAvatar src="../../../assets/explore/chipmanPIc.png" alt="Photo of a Shiba Inu"/>
                Published by Seron
              </mat-chip>
        </div>
    </div>
</div>
<div class="card col-lg-2 col-md-6 col-sm-12 mt-md-5 mt-sm-5">
    <img class="card-img-top img-fluid mt-3" src="../../../assets/home/col3.png" alt="Card image" />
    <div class="card-body">
        <h5 class="card-title card-h-tag">
            Udon with chicken and garlic peanut dressing
        </h5>
        <p class="card-text card-p-tag">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry....
        </p>
    </div>
    <hr />
    <div class="row mt-3">
        <div class="col-lg-6 d-flex float-left">
            <span class="material-symbols-outlined col-md-6 clock"> schedule </span>
            <p class="time-tag col-md-6 mt-1 d-flex float-left clock">1 Hour</p>
        </div>

        <div class="col-lg-6 d-flex float-right mb-3">
            <ngb-rating [max]="5" [(rate)]="currentRating" [readonly]="false"></ngb-rating>
        </div>
        <div class=" d-flex justify-content-center mb-2">
            <mat-chip color="accent">
                <img matChipAvatar src="../../../assets/explore/chipmanPIc.png" alt="Photo of a Shiba Inu"/>
                Published by Seron
              </mat-chip>
        </div>
    </div>
</div>

    </div>
    </div>