<!-- <div class="container ">
    <div class="row "> -->
        <!-- <div class="col-md-6 bg-color-col1">
            <div class="offset-md-1 col-md-8 mt-5 ">
                <h1 class="row col-md-12 left-text-h">Discover More Recipies </h1>
                <h1 class=" col-md-12 left-text-h"> & More Cooks</h1>
                <p class="col-md-12 left-text-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>

                
            </div>
            <div class="offset-md-1 col-md-10 d-flex ">
            <img src="../../../assets/login/skaeeting.png" class="img-fluid col-md-12" alt="">
        </div>
        </div> -->
<div class="container ">
  <div class="row ">
        <div class="col-md-12 d-flex justify-content-center align-items-center right-bg">

            <div class="row col-md-10  mt-5 mb-5  bg-color-col2 d-flex justify-content-center align-items-center">
                
                    
                        <h1 class="row mt-5 right-heading col-md-12 d-flex justify-content-center align-items-center">Welcome to TestFood</h1>
                        <p class="row right-para col-md-12 d-flex justify-content-center align-items-center"> Please fill out your profile information</p>
                        <div class="form-group col-md-9 mb-3">
                            <label class="mt-2 mb-2 right-label" for="usr">First Name*</label>
                            <input type="text" placeholder="Enter your First Name" class="form-control mb-3" required id="usr">
                          </div>

                          <div class="form-group mb-3 col-md-9">
                            <label class="mt-2 mb-2 right-label" for="usr">Last Name*</label>
                            <input type="text" placeholder="Enter your First Name" class="form-control mb-3" id="usr">
                          </div>
                          <div class="form-group mb-3 col-md-9">
                            <label class="mt-2 mb-2 right-label" for="usr">Email*</label>
                            <input type="email" placeholder="Enter your First Name" class="form-control mb-3" id="usr">
                          </div>
                          <div class="form-group mb-3 col-md-9">
                            <label class="mt-2 mb-2 right-label" for="usr">Password*</label>
                            <input type="password" placeholder="Enter your First Name" class="form-control mb-3" id="usr">
                          </div>

                          <div class="form-check mb-3 col-md-9">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                             <span class="span-bg">By Clicking Join, you are agree to our</span>    Terms, Data Policy <span class="span-bg">and </span> Cookies Policy
                            </label>
                          </div>

                          <button (click)="goToExplore()" type="button" class="btn btn-success col-md-9 join-btn mb-3">JOIN</button>
                          
           <div class="col-md-12 d-flex justify-content-center mb-5">
          <p class="bottom-p-tag ">Already Have an account?  <a class="bottom-a-tag"    [routerLink]="['../sign-in']">Sign IN
           
          </a>
        </p>
      </div>
            </div>
    </div>
</div>
