.p-tag{
    font-family: Nunito;
font-size: 18px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;
color: rgba(146, 149, 147, 1);


}

.register-btn{
    background-color:rgba(50, 183, 104, 1);
    height: 52px;
    width: 209px;
    border-radius: 46px;
    color: rgba(255, 255, 255, 1);
}

.model-img{

height: 159px;
left: 309px;
top: 118px;
background: linear-gradient(160deg, rgba(0, 0, 0, 0.3) 40.22%, rgba(0, 0, 0, 0) 100%), url(../../../assets/model/model-pic.png);
border-radius: 16px 16px 0px 0px;
}

.modal{
    border-radius: 0px !important;
}

.modal-title{
 
font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 49px;
text-align: center;

color: #FFFFFF;

}

.modal-text{


font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;

color: #000000;
}

.label{

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;



color: #18201B;



}

.body-dull-text{
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;

color: #B6BEB9;
}

.example-chip-list {
    width: 100%;
  }

 .step-btn{
    font-size: larger;
 }


