/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";



html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif; 
    width: 100%;
}

body{ 
    
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
