.bg-color-col1 {


    background-color: #32B768;
    height: auto;
}

.bg-color-col2 {




    background: #FFFFFF;
    box-shadow: -5px 4px 42px rgba(0, 0, 0, 0.05);
    border-radius: 11px;
}

.bottom-p-tag {

    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;


    color: rgba(120, 132, 125, 1);


}

.bottom-a-tag {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;

    text-decoration: none;

    color: rgba(50, 183, 104, 1);

}

.forgot-pass-tag{


    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #32B768;
    text-decoration: none;
    }

.reminder-tag{
  
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #272D29;

}

.right-label{
    


    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #18201B;
    
    
    
    
    
    }

    .right-para{
    

        height: 25px;
        
        
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */
        
        
        color: #78847D;
        }
   