<div class="container  ">
    <div class="row  ">
          <div class="col-md-12 d-flex justify-content-center align-items-center right-bg">
  
              <div class="row col-md-10  mt-5 mb-5  bg-color-col2 d-flex justify-content-center align-items-center">
                  
                      
                          <h1 class="row mt-5 right-heading col-md-12 d-flex justify-content-center align-items-center">Reset Password</h1>
                          <p class="row right-para col-md-12 d-flex justify-content-center align-items-center"> Please fill out your profile information</p>
                          
                            <div class="form-group mb-3 col-md-9">
                              <label class="mt-2 mb-2 right-label" for="usr">Email*</label>
                              <input type="email" placeholder="Enter your First Name" class="form-control mb-3" id="usr">
                            </div>
                            
  
                            <div class="form-check mb-3 col-md-9">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                              <label class="form-check-label" for="flexCheckChecked">
                               <span class="span-bg">By Clicking Join, you are agree to our</span>    Terms, Data Policy <span class="span-bg">and </span> Cookies Policy
                              </label>
                            </div>
  
                            <button (click)="goToExplore()" type="button" class="btn btn-success col-md-9 join-btn mb-5">JOIN</button>
                            <div class="col-md-12 d-flex justify-content-center mb-5">
                              <p class="bottom-p-tag ">Back to SignIN?  <a class="bottom-a-tag" [routerLink]="['../create-password']">Join
                               
                              </a>
                            </p>
                          </div>
                            <!-- <a [routerLink]="['../forgot-password']">SignIN</a> -->
              
              </div>
      </div>
  </div>



